@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:wght@400;500;600&display=swap');

@layer base {
  :root {
    --background: 255 251 235;
    --foreground: 28 25 23;
  }
  .dark {
    --background: 28 25 23;
    --foreground: 250 250 249;
  }
}

body {
  font-family: 'DM Sans', system-ui, sans-serif;
}
